.not-found {
  text-align: center;
  margin-top: 5rem;
  h1 {
    font-size: 6rem;
    color: #ff9900;
  }
  p {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  a {
    background: #131921;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    &:hover { background: #37475a; }
  }
}

